@using EntityLayer.Concrete
@model List<SchoolClass>

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ClassID</td>
            <td>@item.ClassList</td>
            <td>@item.ClassesTeacher</td>
            <td>@item.ClassStatus</td>
        </tr>
    }
</table>
<br />
<a href="/SchoolClass/AddSchoolClass" class="btn btn-info">Yeni Kategori</a>
